doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Document
		link(rel='stylesheet', href='css/test.min.css')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
		link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
	body
		.menubutton
			.menubutton__inner
		.wrapper
			header
				a(href='/')
					img.logo(src='img/logo.png', alt='')
				ul.menu
					li.menu__item
						a.menu__link(href='index.html') Главная
					li.menu__item
						a.menu__link(href='directions.html') Направления
					li.menu__item
						a.menu__link(href='equipments.html') Оборудование
					li.menu__item
						a.menu__link(href='news.html') Новости
					li.menu__item
						a.menu__link(href='contacts.html') Контакты
				.contacts
					.contacts__phone +7 (3919) 74-66-96
					a.contacts__call(href='#') Обратный звонок
			footer
				a(href='/')
					img.logo_f(src='img/logo1.png', alt='')
				ul.menu
					li.menu__item.menu__item_f
						a.menu__link.menu__link_f(href='index.html') Главная
					li.menu__item.menu__item_f
						a.menu__link.menu__link_f(href='directions.html') Направления
					li.menu__item.menu__item_f
						a.menu__link.menu__link_f(href='equipments.html') Оборудование
					li.menu__item.menu__item_f
						a.menu__link.menu__link_f(href='news.html') Новости
					li.menu__item.menu__item_f
						a.menu__link.menu__link_f(href='contacts.html') Контакты
				.contacts.contacts_f
					.contacts__phone.contacts__phone_f +7 (3919) 74-66-96
					a.contacts__call.contacts__call_f(href='#') Обратный звонок
