doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Оборудование
		link(rel='stylesheet', href='css/test.min.css')
		link(rel='stylesheet', href='libs/magnific-popup/magnific-popup.css')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
		link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
	body
		.menubutton
			.menubutton__inner
		.callback
			form.callback__window
				.callback__success
					p Спасибо за заявку!
				.callback__header Отправить заявку
				.callback__text Оставьте заявку и мы свяжемся с вами в течение 20 минут.
				.callback__label Введите ваше имя:
				input.callback__input(type="text" placeholder="Ваше имя..." required)
				.callback__label Введите ваш телефон:
				input.callback__input(type="text" placeholder="Ваш телефон..." required)
				button.callback__button Отправить
		.top
			i.fa.fa-angle-double-up
		.wrapper
			header
				a(href='/')
					img.logo(src='img/logo.png', alt='')
				ul.menu
					li.menu__item
						a.menu__link(href='index.html') Главная
					li.menu__item
						a.menu__link(href='installation.html') Монтаж
					li.menu__item
						a.menu__link(href='design.html') Проектирование
					li.menu__item
						a.menu__link(href='equipments.html') Оборудование
					li.menu__item
						a.menu__link(href='contacts.html') Контакты
				.contacts
					.contacts__phone +7 (3919) 74-66-96
					a.contacts__call(href='.callback__window') Обратный звонок
			.equipments.equipments_c
				.equipments__header Поставляемое оборудование
				.equipments__wrap
					mixin equipment(img, header, text, buttonLink)
						.equipment
							img.equipment__icon(src=img)
							.equipment__header= header
							.equipment__text= text
							a.equipment__button.equipment__buttons(href=buttonLink) Заказать
					+equipment('img/equipment/logo_corf.png','KORF', "Российский производитель качественного оборудования с 13-ти летним стажем", ".callback__window")
					+equipment('img/equipment/wot.png','WORLD OF TANKS', "Компания World of Tanks является лидером на рынке  производства пластиковых окон, ", ".callback__window")
					+equipment('img/equipment/logo_venterra.png','VENTERRA', "«Venterra» — глобальный лидер в области монтажа и установки", ".callback__window")
					+equipment('img/equipment/EMC.png','EMC', "Оборудование EMC производиться на заводах лучших мировых производителей с учётом сложных климатических условий нащей страны.", ".callback__window")
			footer
				a(href='/')
					img.logo_f(src='img/logo1.png', alt='')
				ul.menu
					li.menu__item.menu__item_f
						a.menu__link.menu__link_f(href='index.html') Главная
					li.menu__item.menu__item_f
						a.menu__link.menu__link_f(href='installation.html') Монтаж
					li.menu__item.menu__item_f
						a.menu__link.menu__link_f(href='design.html') Проектирование
					li.menu__item.menu__item_f
						a.menu__link.menu__link_f(href='equipments.html') Оборудование
					li.menu__item.menu__item_f
						a.menu__link.menu__link_f(href='contacts.html') Контакты
				.contacts.contacts_f
					.contacts__phone.contacts__phone_f +7 (3919) 74-66-96
					a.contacts__call.contacts__call_f(href='.callback__window') Обратный звонок

		script(src='js/main.js')
		script(src='js/libs.js')
		script(src='js/common.js')
		script(src='libs/magnific-popup/jquery.magnific-popup.min.js')
