doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Document
		//
			<link rel="stylesheet" href="css/header.min.css">
			<link rel="stylesheet" href="css/main.min.css">
		link(rel='stylesheet', href='css/test.min.css')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
		link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
	body
		.menubutton
			.menubutton__inner
		.wrapper
			header
				a(href='/')
					img.logo(src='img/logo.png', alt='')
				ul.menu
					li.menu__item
						a.menu__link(href='#') Главная
					li.menu__item
						a.menu__link(href='#') Направления
					li.menu__item
						a.menu__link(href='#') Производство
					li.menu__item
						a.menu__link(href='#') Новости
					li.menu__item
						a.menu__link(href='#') Контакты
				.contacts
					.contacts__phone +7 (3919) 74-66-96
					a.contacts__call(href='#') Обратный звонок
			.introduction
				.introductionBlock
					h1.introduction__header Монтаж и установка пластиковых окон
					ul.introduction__list
						li.introduction__items Работаем быстро
						li.introduction__items Бесплатный выезд инженера
						li.introduction__items Частые скидки
					a.introduction__button Записаться на замер
				img.introduction__image(src='img/header_img.png', alt='')
			.mouseBlock
				.mouse-icon
					.wheel
		.achievements
			.achievements__block
				.achievements__header
					span.achievements__span 11 
					| Лет на рынке
				.achievements__text 11 лет успешной работы на рынке изготовления окон
			.achievements__block
				.achievements__header
					span.achievements__span 60 
					| Партнеров
				.achievements__text Более 60 партнеров и поставщиков
			.achievements__block
				.achievements__header
					span.achievements__span 35 
					| Видов
				.achievements__text Более 35 видов пластиковых окон
			.achievements__block
				.achievements__header
					span.achievements__span 200000 
					| Семей
				.achievements__text Более 200 000 семей выбрали нас
		
		script(src='js/main.js')
		script(src='js/libs.js')
